name: GitHub Metrics

on:
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Nabhag2507
          filename: github-metrics.svg
          template: classic
          base: header,activity,community,repositories
          plugins_isocalendar: yes
          plugins_languages: yes
