name: Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Nabhag2507
          outputs: dist/github-contribution-grid-snake.svg
          background_color: "#000000"
          color_snake: "#39ff14"        # neon green snake
          color_dots: "#ffffff,#444444" # white + gray dots


      - name: Push to output branch
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git fetch origin
          git checkout output
          cp dist/github-contribution-grid-snake.svg ./
          git add .
          git commit -m "Update snake animation" || true
          git push origin output
